@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute {
	overflow: hidden;
}

@view-transition {
	navigation: auto;
}

body {
	min-height: 100dvh;
	@apply bg-slate-800;
}

#root {
	@apply w-full min-h-[100dvh];
}

@font-face {
	font-family: AntipastoPro;
	src: url('/fonts/AntipastoPro/antipasto.light.ttf') format('truetype');
}
